@media screen and (max-width: 768px)
{
	html{
    min-width: 360px;
	  max-width: 768px;
	}
  body{
  	box-sizing: border-box;
    width: 360px;
    height: 100vh;
    padding: 0;
    margin: auto;
  }
 #en-tete nav{
  margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
   
    }
  #en-tete nav a:hover{
     border-top: none;
     border-bottom: 3px solid #0065fc;
     background-clip: border-box; 
    }
    #en-tete{ 
      display: flex;
      flex-direction: column;
      padding: 10px;
    } 
    #logo{
      margin: auto;
    }
    h1{
      padding: 10px;
    }
  h1, h3{
    font-size: 11px;
  }
  h2{
    font-size: 10px;
  }
  p{
    font-size: 9px;
  }
  span{
    font-size: 8.5px;
  }
  strong{
  	font-size: 8.5px;
  }
  .trouver{
    padding: 10px;
  }
  form{
    margin-top: 1.2rem;
  }
  .localisation{
    position: relative;
    right: -0.2rem;
    border-radius: 8px 0px 0px 8px;
    width: 2rem;
    height: 1.8rem;
  }
  .localisation i{
    font-size: 11px;
  }
  .ville{
    width:12rem;
    height: 1.6rem;
  }
  .Rechercher{
    display: none;
  }
  .loupe{
   position: relative;
   left: -0.6rem;
   bottom: -0.1rem;
   display: inline-block;
   background-color: #0065fc;
   color: white;
   border: none;
   width: 1.8rem;
   height: 1.8rem;
   border-radius: 8px;
}
.loupe i{
  font-size: 10px;

}
  #filtres{
    margin-top: 1.8rem;
    position: relative;
    top: -1.5rem;
    left: -1rem;
  	display: flex;
    flex-direction: column;
  }
  #filtres h3{
    margin-left: 1rem;
    position: relative;
    bottom: -0.5rem ;
    font-size: 9px;
  }
  #filtres button{
    font-size: 9px;
    max-width: fit-content;
}
.icone{
  font-weight: bold;
}
.icones-petite-reolution{
 display: inline-flex;
}
.information{
  position: relative;
  top: -1rem;
}
  #generale{
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
 }
 #Hebergements{
  width: 100vw;
  background-color: white;
  padding: 20px;
 }
 .hebergement{
  position: relative;
  left: -2.5rem;
 }
 #Hebergements h1{
  position: relative;
  left: -2rem;
  font-size: 11px;
 }
 #Hebergements a:hover{
  border-bottom: 3px solid #0065fc;
 }
 #Hebergements .carte {
  width: 87vw;
  margin-left: 7%;
  box-shadow: #f2f2f2 2px 2px 2px 2px;
 }
 #Hebergements .carte-image{
  width: 87vw;
  height: 9vh;
 }
#Hebergements .carte-image img{
  object-fit: cover;
  width: 86vw;
  height: inherit;
}
#Hebergements strong{
  position: relative;
  left: -2rem;
}
 #Populaires{
  width: 98vw;
  position: relative;
  top: -1rem;
  border-radius: 0;
  padding: 17px;
 }
 #Populaires h1, #Hebergements h1, #Activités h1{
  font-size: 12px;
 }
 #Populaires .carte{
  width: 90vw;
  height: 94px;
  margin-left: 0.5rem;
 }
 #Populaires .carte-body{
  width: 48vw;
  padding-left: 3%;
  font-size: 20px;
   
 }
 #Populaires .carte-image{
   width: 34vw;
 }
 #Populaires .carte-image img{
  object-fit: cover;
 }
.activite-petite-resolution{
  display: inline-block;
  margin-left: 0.3rem;
}
.grand-ecran h1{
  display: none;
}
 #Activités{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -1rem;
  margin-top: 34rem;
}
#Activités a:hover{
  text-decoration: none;
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}
.photo-activité, .photo-activité1 {
  display: flex;
  flex-direction: column;
  }
.photo-activité .carte{
  width: 85vw;
  height: 13vh;
  margin-left: 0.3rem;
}
.photo-activité .carte-image{
   width: 85vw;
   height: 9vh;
}
.photo-activité1 .carte{
  width: 85vw;
  height: 12vh;
  margin: 3px;
}
.photo-activité1 .carte-image{
   width: 85vw;
   height: 9vh;
}
.cartes{
  margin: 3px;
  padding: 0
}
.carte1, .carte2, .carte3, .carte4{
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  width: 85vw;
  height: 12vh;
}
.carte1 .carte-image, .carte2 .carte-image, .carte3 .carte-image, .carte4 .carte-image{
  height: 9vh;
}
  footer{
    width: 100vw;
    height: 30vh;
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .a-propos strong{
  	font-size: 9px;
    margin-left: 5rem; 
 }
 ul li{
 	font-size: 9px;
 	margin-left: 4rem;
 }
   }